
.blog-main-article {
    padding-left: 100px;
    padding-right: 100px;
    flex: 4;
    margin-bottom: 40px;

    .blog-header {
        text-align: left;
    }

    .date-created {
        text-align: left;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .blog-post-image {
        height: auto;
        max-width: 100%;
        border-radius: 2px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .blog-article-content {
        font-size: 18px;
    }
}