.article-side-column-container {
    flex: 1;
    .instagram-title {
        font-weight: bold;
        font-size: 22px;
        margin-top: 49px;
        margin-bottom: 15px;
        text-align: left;
    }
    .instagram-follow-me {
        font-size: 14px;
        padding-right: 15px;
    }
    a:hover {
        text-decoration: none;
        color: #8388EB;
    }
}

@media only screen and (max-width: 1200px) {
    .article-side-column-container {
        .instagram-title {
            margin-top: 0;
            text-align: center;
        }
    }
}