.article-side-column-container {
  flex: 1; }
  .article-side-column-container .instagram-title {
    font-weight: bold;
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 15px;
    text-align: left; }

@media only screen and (max-width: 1200px) {
  .article-side-column-container .instagram-title {
    margin-top: 0;
    text-align: center; } }
