.blog-main-article {
  padding-left: 100px;
  padding-right: 100px;
  flex: 4;
  margin-bottom: 40px; }
  .blog-main-article .blog-header {
    text-align: left; }
  .blog-main-article .blog-post-image {
    height: auto;
    max-width: 100%;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 30px; }
  .blog-main-article .blog-article-content {
    font-size: 18px; }
