
h3 {
    text-align: center;
}

.landing-featured-posts {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.landing-featured-description {
    margin-top: 15px;
    text-align: left;
}

.landing-featured-images {
    flex: 1;
    max-width: 100%;
    height: auto;
} 