$ctr: center;

.home-page {
    background-color: #2892D7;
}

.home-banner-container {
    height: 70%;
    background-position: $ctr;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .home-banner {
        width: 100%;
    }
}

.landing-profile {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: auto;
    margin-right: auto;

    .profile-landing-pic {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 1000px;
        height: 200px;
        width: 200px;
    }

    .landing-about {
        flex: 2;
        padding: 20px;
        order: 2;
    }
}

.landing-featured-article-container {
    background: white;

    .featured-article-heading {
        padding-top: 50px;
        text-align: $ctr;
        font-size: 25px;
        font-weight: bold;
        color: #055D95;
    }

    .landing-featured-articles {
        display: flex;
        padding: 50px;
        justify-content: $ctr;
        overflow: auto;
        flex-wrap: wrap;
    }

    .blog-entry {
        text-align: $ctr;
    }
}

  /* Non-mobile, grid */
  @media only screen and (max-width: 10000px) {
    .landing-profile {
        width: 1170px;
    }
}

@media only screen and (max-width: 1200px) {
    .landing-profile {
        width: 970px;
    }
}

@media only screen and (max-width: 992px) {
    .landing-profile {
        width: 750px
    }
}

@media only screen and (max-width: 905px) {
    .landing-featured-article-container {
        .landing-featured-articles {
            justify-content: $ctr;
        }
    }
}

@media only screen and (max-width: 768px) {
    .landing-profile {
        width: auto;
    }
}

@media only screen and (max-width: 392px) {
    .landing-profile {
        h1 {
            text-align: center;
        }
    }
}
