
.home-banner-container {
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.home-banner {
    width: 100%;
}

.landing-profile {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.profile-landing-pic {
    padding: 20px;
    border-radius: 1000px;
    height: 300px;
    width: 300px;
}

.landing-about {
    flex: 2;
    padding: 20px;
    order: 2;
}

.landing-featured-articles {
    display: flex;
    margin: 50px 80px;
}

.blog-entry {
    flex: 3;
}