$ctr: center;

.about-banner-container {
    height: 70%;
    background-position: $ctr;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .about-banner {
        width: 100%;
    }
}

.about-me {
    padding-left: 200px;
    padding-right: 200px;

    .profile-about-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 50px;
        height: 300px;
        width: 375px;
    }

    .profile-about {
        padding: 20px;
        .about-bio {
            font-size: 16px;
        }
    }
}

.about-me-timeline {
    background-image: linear-gradient(#FFC522, #FF9D22,#2892D7, #8388EB);
    padding-top: 25px;
} 

@media only screen and (max-width: 840px) {
    .about-me {
        padding-left: 150px;
        padding-right: 150px
    }
}

@media only screen and (max-width: 700px) {
    .about-me {
        padding-left: 100px;
        padding-right: 100px
    }
}

@media only screen and (max-width: 640px) {
    .about-me {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 585px) {
    .about-me {
        padding-left: 30px;
        padding-right: 30px;
            .profile-about-pic {
                height: 250px;
                width: 325px;
            }
    }
}