.about-banner-container {
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-banner {
    width: 100%;
}

.about-me {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    /* background-color: #2892D7 */
}

.profile-about-pic {
    padding: 20px;
    border-radius: 50px;
    height: 300px;
    width: 400px;
}

.profile-about {
    flex: 2;
    padding: 20px;
}

/* hr {
    width: 80%;
} */

.about-me-timeline {
    background-image: linear-gradient(#FFC522, #FF9D22,#2892D7, #8388EB);
    padding-top: 25px;
} 