
.study-abroad-posts {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.study-abroad-description {
    margin-top: 15px;
    text-align: center;
}

.study-abroad-images {
    max-width: 100%;
    height: 250px;
}

  /* Non-mobile, grid */
  @media only screen and (max-width: 1305px) {
    .study-abroad-images {
        height: 200px;
    }
  }

  @media only screen and (max-width: 1080px) {
    .study-abroad-images {
        height: 150px;
    }
  }

  @media only screen and (max-width: 905px) {
    .study-abroad-images {
        /* height: 250px; */
        height: auto;
        /* margin-bottom: 20px; */
        margin-bottom: 0;
    }
    .study-abroad-description {
        /* float: right; */
        /* margin-left: 5px; */
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 0;
        text-align: center;
    }
  }