$ctr: center;
$fty: 50px;

.study-abroad-banner-container {
    height: 70%;
    background-position: $ctr;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .study-abroad-banner {
        width: 100%;
    }
}

.study-abroad-article-container {
    .study-abroad-heading {
        margin-top: $fty;
        text-align: $ctr;
        font-size: 25px;
        font-weight: bold;
        color: #055D95;
    }

    .study-abroad-articles {
        display: flex;
        padding: $fty;
        justify-content: $ctr;
        overflow: auto;
        flex-wrap: wrap;
    }

    .study-abroad-entry {
        text-align: $ctr;
    }
}




